* {
    margin:0;
    padding:0;
}
.lista-n{
    margin:10px;
    padding:10px;
}
.lista-u{
    position: relative;
    top:15px;
    margin:10px;
    padding:10px;
}
body {
    height: 100vh;
}
div {
    border:double tomato 10px;
}
#HEADER {
    width:100%;
    text-align: center;
    border:solid black 10px;
}
#FOOTER {
    width:100%;
    position:relative;
    top:100%;
    text-align: center;
    border:solid black 10px;
}
.datas{
    border:dotted black 2px;
    width:150px;
}
.nome {
    color:red;
}
#controle{
    border:solid black 3px;
    text-align: center;
    background: rgb(0, 0, 0);
    color: #c4c4c4;
}
#adicionarproduto{
    position: sticky;
    top :100px;

}
#funcionarios {
    position: fixed;
}
.envio {
    text-align: center;
    width:155px;
}