@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



.card{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  height:600px;
  padding:0 !important;
}

.scroll::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
  border-radius:20px;
}

.scroll::-webkit-scrollbar-track {
  background: rgb(214,157,168);        /* color of the tracking area */
  border-radius:20px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgb(255,238,227);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(214,157,168);  /* creates padding around scroll thumb */
}

.MainDiv{
  background-image:url("./images/heart-pattern.svg");
  background-size:cover;
}

.ant-card-body{
  padding:0 !important;
}

.play-on-hover{
  width:100%;
  height:100%;
  
  background-image:url("./Components/MainComponent/gif/heart-in-hand.jpg");
  background-size:contain;
  background-repeat: no-repeat;
  cursor:pointer;
  

}

.play-on-hover:hover{
  width:100%;
  height:100%;
  background-image:url("./Components/MainComponent/gif/heart-in-hand.gif");
  background-size:contain;
  cursor:pointer;

}


.on-hover-clear{
  width:100%;
  height:100%;
  background-image:url("./Components/MainComponent/gif/delete-confirmation.jpg");
  background-size:contain;
  background-repeat: no-repeat;
  cursor:pointer;
  background-position: right;

}

.on-hover-clear:hover{
  width:100%;
  height:100%;
  background-image:url("./Components/MainComponent/gif/delete-confirmation.gif");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: right;
  cursor:pointer;

}

/*
<TopPanel >
      <div onClick={matchListOn} className="play-on-hover">
      </div>
      
      {matchList ? <div className="on-hover-clear" onClick={clear}></div> : ""}
      </TopPanel>
      {matchList ? 
      <MatchListContainer>
       {loadingMatches === true ?
      <MatchListDiv className="scroll">
        
        {matchElements}
      </MatchListDiv>:<LoadingMatchesContainer><Lottie 
      
	    options={defaultOptions}
        height={"5vw"}
        width={"5vw"}
      />
      </LoadingMatchesContainer>
      }
      </MatchListContainer>:
      <MatchesContainerFather>
      {loading ?
      <MatchesContainer>
      
      {profiles.profile === null ? <NoMatches><h1>Parece que você voou muito alto!
        Você ja viu todos candidatos</h1>
        <Lottie 
      
	    options={defaultOptionsRocket}
        height={"15vw"}
        width={"15vw"}
      />
      </NoMatches>:
      <MatchesContainer>
      <MatchesMainDiv>
        <BackPhoto src={profiles.profile.photo}/>
        <ImageCandidateDiv>
        <ImageCandidate src={profiles.profile.photo}/>
        </ImageCandidateDiv>
        <TextDiv>
      <Title>{profiles.profile.name}, {profiles.profile.age}</Title>
      <Description>{profiles.profile.bio}</Description>
      </TextDiv>
      </MatchesMainDiv>
      <ButtonDiv>
      <Check onClick={() => choosePerson(true)} src={check}/>
      <Refuse onClick={()=> choosePerson(false)} src={refuse}/>
      
      </ButtonDiv>
    </MatchesContainer>
} 
    
    </MatchesContainer> 
      :<MatchesContainerLoading><Lottie 
      
	    options={defaultOptions}
        height={"5vw"}
        width={"5vw"}
      /></MatchesContainerLoading>} 
   

      </MatchesContainerFather>


      }*/