body {
    max-width: 100vw;
    height: 200vh;
    padding: 0;
    margin: 0;


}

#segundo-bloco div  {
    max-width: 100vw;
    border: 1px solid black;
}

#quarto-bloco div  {
    max-width: 100vw;
    border: 1px solid black;
}

#main-container{
    max-width: 100vw;
    margin: 40px;
    display: flex;
    flex-direction: column;
}

#first-block {
    width:100vw;
    height:10vh;
    background-color: red;
    align-self: flex-start;
}

#segundo-bloco{
    
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}
.blue-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:2vh;
    margin-bottom:2vh;
    width:25vw;
    height:20vh;
    background-color: blue;
}

.yellow-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:2vh;
    margin-bottom:2vh;
    margin-left: 5vw;
    width:25vw;
    height:20vh;
    background-color: yellow;
}

.green-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:2vh;
    margin-bottom:2vh;
    margin-left: 5vw;
    width:25vw;
    height:20vh;
    background-color: green;
}

#terceiro-bloco{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.black-block {
    margin:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:700px;
    height: 700px;
    background-color: black;
    color: white;
}
#quarto-bloco{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.white-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width:25vw;
    height: 20vh;
    background-color: white;
}

@media screen and (min-device-width : 421px) and (max-device-width : 800px) { 

    .green-block{
        margin-left: 15px;
        margin-right: 15px;
        width:100vw;

    }
    .blue-block, .yellow-block{
        
        width:40vw;

    }
    #segundo-bloco{
        justify-content: center;
        align-items: center;
    }
}